@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400;1,700&display=swap");
.profile img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 60vh;
}
.profile-right-flex {
  background-image: url(../Assets/backdrop.png);
  background-position: 10px;
  background-size: 1000px;
  background-repeat: no-repeat;
}
.profile-list {
  margin-top: 11rem;
}
.profile-list h5 {
  margin-bottom: 40px;
}
.profile-list h5:hover {
  color: red;
  transition: 0.4s ease-out;
  cursor: pointer;
}
.profile li {
  font: normal normal normal 17px "Merriweather";
  line-height: 35px;
}
.profile-main {
  display: flex;
  gap: 17rem;
  margin-top: 60px;
  padding-bottom: 50px;
}
.profile-right-flex h3 {
  font: normal normal bold 26px "Merriweather";
  text-align: center;
  margin-bottom: 30px;
  color: #0e1843;
}
.profile-right-flex h4 {
  font: normal normal bold 26px "Merriweather";
  margin-bottom: 20px;
  color: #0e1843;
}

@media only screen and (max-width: 760px) {
  .profile img {
    object-fit: cover;
    width: 100%;
  }
}
